# Entornos virtuales
venv/
.venv/
env/
.env/

# Caché de Python
__pycache__/
*.py[cod]
*.pyo

# Pytest
.pytest_cache/
.cache/

# Archivos de IDE
.idea/
.vscode/
*.iml

# Logs
*.log

# Archivos del sistema operativo
.DS_Store
Thumbs.db
